body {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: #f9f7fe;
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
}

a {
  color: #ff6f3c;
}

.container {
  max-width: 600px;
  padding: 30px;
  margin: 60px auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed #f9f7fe;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 15px;
  color: #ff9a3c;
  font-family: "Times New Roman", Times, serif;
}
